<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/java project/UIframework">
        <classes>
            <class name="com.qingxiao.testcase.Login"><methods>
            <include name="getLoginHome"/>
        </methods></class>
            <class name="com.qingxiao.testcase.LoginTest"><methods><include name="loginScript"/></methods>
        </class>
        </classes>
    </test>
</suite>